<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--    <link th:href="@{/css/bootstrap.min.css}"-->
    <!--          href="../css/bootstrap.min.css" rel="stylesheet">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/writeComment.js}" src="../js/writeComment.js" ></script>
    <link rel="stylesheet" href="assets/css/main.css" th:href="@{/assets/css/main.css}"/>
    <link rel="stylesheet" href="css/header.css" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" href="css/content.css" th:href="@{/css/content.css}"/>

</head>
<body>
    <div th:insert="~{fragment/headerLogin :: headerLogin}" th:if="${session.loginMember}">
    </div>
    <div th:insert="~{fragment/header :: header}" th:if="!${session.loginMember}">
    </div>

    <div class="container">
        <form method="post" action="noticeView.html">
            <input type="hidden" th:field="${notice.no}" id="notice-no">
            <div class="container-header">
                <span class="header-content">제목</span>
                <span class="header-value" th:text="${notice.title}"></span>
            </div>

            <div class="container-header">
                <span class="header-content">작성자</span>
                <span class="header-value" id="writer" th:text="${notice.writer} + ' (' + ${notice.generation} + '기' + ')'"></span>
                <span class="header-content">작성시간</span>
                <span class="header-value" th:text="${#temporals.format(notice.writeDate, 'yyyy-MM-dd (HH:mm)')}"></span>
            </div>

            <div class="container-header">
                <span class="header-content">첨부파일</span>
                <span class="header-value" id="file">
                    <a th:if="${notice.uploadFile}"
                       th:href="|/attach/${notice.getNo}|"
                       th:text="${notice.getUploadFile().getUploadFileName()}"/>
                </span>
                <span class="header-content">조회수</span>
                <span class="header-value" th:text="${notice.view}"></span>
            </div>

            <div id="detail-area" th:utext="${notice.detail}">

            </div>
            <div class="btn-area">
                <input type="submit" value="글 삭제" th:formaction="|/deleteNotice/${notice.no}|">
                <input type="submit" value="글 수정" th:formaction="|/deleteNotice/${notice.no}|">
                <input type="button" value="목록" id="list-btn">
            </div>

        </form>
        <hr>
        <div th:if="${noticeComments}">
            <p class="comment-p-area">댓글</p>
            <hr>
            <div th:each="noticeComments : ${noticeComments}">
                <div th:id="|comment-area-${noticeComments.no}|" class="all-comment-area">
                    <form action="noticeView.html" method="post" th:object="${form}" class="comment-form">
                        <input type="hidden" th:value="${noticeComments.no}" id="parentNo" name="parentNo">
                        <div th:if="${noticeComments.checkDeleted == T(com.artineer.artineer.domain.CheckDeleted).isDeleted}">
                            <span th:utext="${noticeComments.detail}"></span>
<!--                            <div class="comment-btn-area">-->
<!--                                <input type="submit" value="삭제" class="delete" th:formaction="|/deleteComment/${noticeComments.notice.no}|">-->
<!--                                <input type="button" value="답글" id="write-sub-comment" class="write-sub-comment" th:if="!${noticeComments.parentComment}">-->
<!--                            </div>-->
                        </div>
                        <div th:if="${noticeComments.checkDeleted == T(com.artineer.artineer.domain.CheckDeleted).isNotDeleted}">
                            <span class="comment-header-content" th:text="${notice.writer} + ' (' + ${notice.generation} + '기' + ')'"></span>
                            <span class="header-value-comment" th:utext="${noticeComments.detail}"></span>
                            <div class="comment-btn-area">
                                <input type="submit" value="삭제" class="delete" th:formaction="|/deleteComment/${noticeComments.notice.no}|">
                                <input type="button" value="답글" id="write-sub-comment" class="write-sub-comment" th:if="!${noticeComments.parentComment}">
                            </div>
                        </div>
                        <div class="sub-comment-write-area">
                            <hr>
                            <textarea th:field="*{detail}" id="detail" name="detail" class="comment-area" placeholder="댓글을 입력하세요."></textarea>
                            <div class="field-error" th:errors="*{detail}">
                                내용을 입력하세요.
                            </div>
                            <input type="submit" value="답글 달기" th:formaction="|/writeSubCommentForm/${noticeComments.notice.no}|">
                        </div>
                    </form>
                    <hr>
                    <div id="child-comment-area" class="child-comment-area" th:if="${noticeComments.childComments}">
                        <div th:each="child : ${noticeComments.childComments}">
                            <form action="noticeView.html" method="post" class="comment-form">
                                <span class="comment-header-content" th:text="ㄴ + ${child.writer} + ' (' + ${child.generation} + '기' + ')'"></span>
                                <span class="header-value-comment" th:utext="${child.detail}"></span>
                                <div class="comment-btn-area">
    <!--                            <input type="button" value="삭제" id="delete-child-comment" class="delete-child-comment" th:if="!${noticeComments.parentComment}">-->
                                    <input type="submit" value="삭제" class="delete" th:formaction="|/deleteChildComment/${noticeComments.notice.no}|">
                                </div>
                                <input type="hidden" id="childNo" name="childNo" th:value="${child.no}">
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-write-area">
            <label for="comment">
                <input type="hidden" id="comment" class="comment">
                <textarea class="comment-area" id="comment-area" placeholder="댓글을 입력하세요."></textarea>
            </label>
            <input type="button" id="write-comment" value="댓글 작성">
        </div>
    </div>

    <div th:insert="~{fragment/footer :: footer}">
    </div>

</body>
</html>