<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <!--    <link th:href="@{/css/bootstrap.min.css}"-->
    <!--          href="../css/bootstrap.min.css" rel="stylesheet">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/writeComment.js}" src="../js/writeComment.js" ></script>
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">
    <input type="hidden" th:field="${notice.no}" id="notice-no">
    <p th:text="${notice.title}"></p>
    <div th:utext="${notice.detail}"></div>
    첨부파일: <a th:if="${notice.uploadFile}" th:href="|/attach/${notice.getNo}|" th:text="${notice.getUploadFile().getUploadFileName()}" /><br/>
    <hr>
    <div th:if="${noticeComments}">
        댓글
        <hr>
        <div th:each="noticeComments : ${noticeComments}">
            <form action="noticeView.html" th:action="|/writeSubCommentForm/${noticeComments.notice.no}|" method="post" th:object="${form}">
                <input type="text" th:value="${noticeComments.no}" th:field="*{parentNo}">
                <span th:utext="${noticeComments.member.id}"></span> <span th:utext="${noticeComments.detail}"></span>
                <input type="button" value="답글" id="write-sub-comment">
                <div id="sub-comment-area">
                    <label for="detail" >답글 내용</label>
                    <input type="text" id="detail" th:field="*{detail}" class="form-control" th:errorclass="field-error" placeholder="내용을 입력하세요.">
                    <div class="field-error" th:errors="*{detail}">
                        내용을 입력하세요.
                    </div>
                </div>
                <button type="submit">답글 달기</button>
            </form>
            <hr>
        </div>
    </div>
    <label for="comment">
        <input type="text" id="comment">
    </label>
    <input type="button" id="write-comment" value="댓글 작성">
</div>

</body>
</html>