<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/joinForm.js}" src="../js/joinForm.js" ></script>
    <script type="text/javascript" th:src="@{/js/findAccount.js}" src="../js/findAccount.js" ></script>
    <!--    <link th:href="@{/css/bootstrap.min.css}"-->
    <!--          href="../css/bootstrap.min.css" rel="stylesheet">-->
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
        .result-info {
            display: none;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>아아디 찾기</h2>
    </div>
    <div>
        <label for="memberName">이름</label>
        <input type="text" id="memberName" th:field="${form.name}" class="form-control" th:errorclass="field-error" placeholder="이름을 입력하세요">
    </div>
    <div>
        <label for="emailId" >이메일</label>
        <input type="text" id="emailId" th:field="${form.emailId}" class="form-control" th:errorclass="field-error" placeholder="이메일을 입력하세요">

        @
        <input type="text" id="emailDomain" th:field="${form.emailDomain}" class="form-control" th:errorclass="field-error" placeholder="메일을 입력하세요">
        <select class="form-control" id="emailDomainSelect">
            <option value="type">--직접 입력--</option>
            <option value="naver.com">naver.com</option>
            <option value="google.com">google.com</option>
            <option value="hanmail.net">hanmail.net</option>
            <option value="nate.com">nate.com</option>
            <option value="kakao.com">kakao.com</option>
        </select>
    </div>

    <span class="result-info" id="result-info">
        <h3 class="result-text" id="result-text"></h3>
    </span>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" id="find-id">아이디 찾기</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='findAccountForm.html'"
                    th:onclick="|location.href='@{/members/find/account}'|"
                    type="button" >취소</button>
        </div>
    </div>




</div> <!-- /container -->
</body>
</html>