#board-name {
    margin: 0 auto;
    text-align: center;
}
#board-name > h1 {
    font-weight: bold;
    font-size: 45px;
    color: #20c5cc;
}
#board-name > p {
    margin-top: 5px;
    color: #171718;
}

#table {
    font-family: Malgun Gothic;
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}
#table > th {
    text-align: center !important;
    font-size: larger;
}
#table > tbody {
    font-size: 17px;
    font-weight: normal;
}

#title {
    text-align: left;
    margin-left: 1em;
}

#title > a {
    text-decoration: none;
    color: black;
}

#area {
    margin: 0 auto;
    justify-content: center;
}
.table-light > tr {
    text-align: center;
}
.write-button {
    margin-right: 15%;
    background-color: #20c5cc;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    cursor: pointer;
    border-radius: 6px;
    padding: 0.65em 1.5em 0.65em 1.5em;
    font-weight: bold;
}

#search-area {
    /*display: inline-block;*/
    width: 50%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#search-area > #parameter {
    width: 60em !important;
}
#search-area > form {
    text-align: center;
}

.page-wrap {
    text-align:center !important;
    font-size:0;
    margin-bottom: 1%;
}
.page-nation {
    display:inline-block;
}
.page-nation .none {
    display:none;
}
.page-nation a {
    display:block;
    margin:0 3px;
    border:1px solid #e6e6e6;
    width:38px;
    height:38px;
    line-height:38px;
    text-align:center;
    background-color:#fff;
    font-size:15px;
    color:#999999;
    text-decoration:none;
}
.page-nation .arrow {
    border:1px solid #ccc;
}
.page-nation .pprev {
    background:#f8f8f8 url('../img/page_pprev.png') no-repeat center center;
    margin-left:0;
}
.page-nation .prev {
    background:#f8f8f8 url('../img/page_prev.png') no-repeat center center;
    margin-right:7px;
}
.page-nation .next {
    background:#f8f8f8 url('../img/page_next.png') no-repeat center center;
    margin-left:7px;
}
.page-nation .nnext {
    background:#f8f8f8 url('../img/page_nnext.png') no-repeat center center;
    margin-right:0;
}
.page-nation a.active {
    background-color:#42454c;
    color:#fff;
    border:1px solid #42454c;
}

.page-nation > ul {
    list-style: none;
    margin: 0 auto ;
}
.page-nation > ul > li {
    float: left;
}