.container {
    max-width: 720px;
    /*text-align: center;*/
    margin-bottom: 10%;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}
.result-info {
    display: none;
}
.find-account-tag {
    width: 5%;
    height: 2%;
}