.header-menu {
    /*font-family: sans-serif !important;*/
    font-weight: inherit !important;
    font-family: Malgun Gothic !important;
}
.header-menu > a {
    font-weight: normal !important;
    font-style: normal !important;
}