.container {
    padding-bottom: 10% !important;
    max-width: 720px;
    font-family: Malgun Gothic;
}

.field-error {
    border-color: #dc3545 !important;
    color: #dc3545 !important;
    margin: 0 !important;
    display: inline-block;
}
#join-btn:disabled {
    background-color: dimgray !important;
}
.member-form {
    margin-bottom: 0.5em;
}
.member-form > span {
    display: inline-block;
}
.field-error {
    margin-left: 3em;
}