.container {
    font-family: Malgun Gothic;
    margin-bottom: 10% !important;
    /*text-align: center;*/
    height: 100%;
}

.header-menu > a {
    font-weight: normal !important;
    font-style: normal !important;
}