<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="js/about.js"></script>
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="css/header.css" />
    <title>About</title>
    <script>
        $(document).ready(function () {
            AOS.init();
        });
    </script>
</head>

<body>
    <div th:insert="~{fragment/headerLogin :: headerLogin}" th:if="${session.loginMember}">
    </div>
    <div th:insert="~{fragment/header :: header}" th:if="!${session.loginMember}">
    </div>
    <div id="wrap">
        <section>
            <div id="WeAre">
                <div data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                    <img src="img/we_are.png" alt="we_are">
                </div>

                <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <h1>WE ARE</h1>
                </div>

                <div data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
                    <h3>ARTINEER</h3>
                </div>

                <div data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
                    <h2>Wonkwang Univ. Department of Computer Science</h2>
                </div>

                <div data-aos="flip-down" data-aos-easing="linear" data-aos-duration="1500">
                    <h2>SINCE 2017</h2>
                </div>

                <div data-aos="flip-up" data-aos-easing="linear" data-aos-duration="1500">
                    <h2>IKSAN DAERO 460, IKSAN-SI, JEOLLABUK-DO, KOREA</h2>
                </div>

                <div data-aos="flip-left" data-aos-easing="linear" data-aos-duration="1500">
                    <h2>COLLEGE OF ENGINEERING</h2>
                </div>
            </div>

            <div id="Major">
                <div data-aos="flip-right" data-aos-easing="linear" data-aos-duration="1500">
                    <img src="img/major_activity.png" alt="we_are">
                </div>
                <br>
                <div data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500">
                    <h1>MAJOR ACTIVITY</h1>
                </div>
                <br>
                <div data-aos="zoom-in-left" data-aos-easing="linear" data-aos-duration="1500">
                    <h3>학기별 프로젝트 + 멘토/멘티 = 공모전 출전</h3>
                </div>
                <br>
                <div data-aos="zoom-in-down" data-aos-easing="linear" data-aos-duration="1500">
                    <h3>학과 수업 코칭, 대외 활동, 전시회 관람 등</h3>
                </div>
                <br>
                <div data-aos="zoom-out-down" data-aos-easing="linear" data-aos-duration="1500">
                    <h2>C JAVA Android Web</h2>
                </div>
            </div>

            <div id="Goal">
                <div data-aos="zoom-out-left" data-aos-easing="linear" data-aos-duration="1500">
                    <img id="GoalPic" src="img/were_goal.png" alt="we_are">
                </div>
                <br><br><br><br><br><br>
                <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <h2> Expressing thoughts into the real world</h2>
                </div>
            </div>
        </section>
    </div>
    <div th:insert="~{fragment/footer :: footer}">
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
    <script src="assets/js/jquery.dropotron.min.js" th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
    <script src="assets/js/browser.min.js" th:src="@{/assets/js/browser.min.js}"></script>
    <script src="assets/js/breakpoints.min.js" th:src="@{/assets/js/breakpoints.min.js}"></script>
    <script src="assets/js/util.js" th:src="@{/assets/js/util.js}"></script>
    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
</body>

</html>