<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="css/header.css" />
    <title>Artineer</title>
</head>
<body>
    <div th:insert="~{fragment/header :: header}">
    </div>

    <div th:insert="~{fragment/footer :: footer}">
    </div>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js" th:src="@{/assets/js/jquery.min.js}"></script>
    <script src="assets/js/jquery.dropotron.min.js" th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
    <script src="assets/js/browser.min.js" th:src="@{/assets/js/browser.min.js}"></script>
    <script src="assets/js/breakpoints.min.js" th:src="@{/assets/js/breakpoints.min.js}"></script>
    <script src="assets/js/util.js" th:src="@{/assets/js/util.js}"></script>
    <script src="assets/js/main.js" th:src="@{/assets/js/main.js}"></script>
</body>
</html>