<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="stylesheet" href="css/header.css" />
<!--    <link rel="stylesheet" href="css/bootstrap.min.css" />-->
    <title>Artineer</title>
</head>
<body>
    <div th:insert="~{fragment/headerLogin :: headerLogin}" th:if="${session.loginMember}">
    </div>
    <div th:insert="~{fragment/header :: header}" th:if="!${session.loginMember}">
    </div>

    <div th:insert="~{fragment/footer :: footer}">
    </div>
</body>
</html>