<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artineer</title>
</head>
<body>
    <h1>Artineer Index</h1>
    <a href="/members/join">회원가입</a>
    <button onclick="location.href='editForm.html'"
            th:onclick="|location.href='@{/members/modify/{memberNo}(memberNo=${session.loginMember.no})}'|"
            type="button">회원수정</button>
    <form th:action="@{/members/logout}" method="post">
        <button class="w-100 btn btn-dark btn-lg" onclick="location.href='items.html'" type="submit">
            로그아웃
        </button>
    </form>
    <a href="/notice/write">공지 작성</a>
    <hr>
    <a href="/notice">공지사항</a>
</body>
</html>